body {
  font-family: "Merriweather", serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Inter", sans-serif;
}

/* banner section */
.bannar_main {
  width: 650px;
  height: 35%;
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);

  background-image: url("../image/Banner Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 140px;
  margin: 0px auto;
  margin-top: 30px;
  margin-bottom: 0px;
}

.bannar {
  text-align: center;
}

.bannar_title {
  color: orangered;
  /* text-align: center; */
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 0px;
}
.bannar_des {
  color: springgreen;

  font-size: 72px;
  font-weight: 900;
  line-height: 80px;
  width: 632px;
  margin-top: 20px;
  margin-left: 0 auto;
}

/*  offer section start */
.Offer_container {
  width: 450px;
  height: 250px;
  margin: 0px auto;
  margin-top: 30px;
  margin-bottom: 0px;
}

.Offer_title {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}

.Offer_des {
  color: #f00;
  /* text-align: center; */
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0px;
}

.offer_cata {
  color: #070211;
  /* text-align: center; */
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 0px;
}

.offer_img {
  width: 350px;
  height: 360px;
  margin-top: 25px;
  margin-bottom: 0px;
}

/* welcome section  */

.wel_continner {
  width: 950px;
  height: 510px;
  margin-top: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url("../image/Vector.png");
  background-repeat: no-repeat;
  background-size: cover;
  fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  position: relative;
  left: 12%;
}
.wel_child {
  width: 50%;
  padding-left: 30px;
}

.wel_title {
  color: #fff;
  font-size: 34px;
  font-weight: 900;
  line-height: 48px;
  letter-spacing: 5.04px;
}

.wel_des {
  width: 400px;

  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

.wel_btn {
  border: none;
  margin-left: 20px;
  padding: 5px;
  background-color: #070211;
  color: white;
}

.wel_img {
  /* width: 70%;
  height: 100px; */

  display: flex;
  width: 919.83px;
  height: 664.662px;
  padding: 0.008px 0px 0px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

/* event or place section start  */
.event {
  width: 950px;
  height: 380px;
  fill: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.847) 50%; rgba(255, 0, 0, 0) 100%
  );

  background: hwb(0 4% 8% / 0.129);

  opacity: 0.5px;
  margin-top: 40px;
  display: flex;

  justify-content: center;
  align-items: center;
  margin-top: 40px;
  position: relative;
  left: 12%;
}

.event_child {
  color: black;
  text-align: center;
  font-family: Inter;
  font-size: 22px;
  font-weight: 600;
  line-height: 20px;
  text-transform: capitalize;
}

.primary_p {
  color: #f00;
}

.btn_join {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: none;
  background: #f00;
  margin-top: 30px;
  margin-bottom: 0px;
}

/* subscriber section start */

.subscri_conten {
  margin-top: 50px;
  width: 950px;
  height: 420px;
  border-radius: 16px;
  text-align: center;
  position: relative;
  left: 12%;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.08);
}

.subs_img {
  width: 150px;
  height: 150px;
  margin-top: 30px;
  margin-bottom: 0px;
}

.subs_title {
  color: black;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 20px;
  margin-bottom: 0px;
}

.subs_des {
  width: 60%;
  position: relative;
  left: 20%;
  text-align: justify;
}
/* input[type="text"]{
  padding: 10px;
  width: 448px;
  height: 8px;
  border-radius: 50px;
background: red;

 }  */

label {
  position: relative;
}

input {
  border: none;
  padding: 7px;
  width: 30%;
  border-radius: 50px;
  margin-top: 17px;
}

.btn_sub {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  border: none;
  padding: 15px 5px;

  background-color: red;
  color: white;
  width: 30%;
  border-radius: 0px 50px 50px 0px;
  margin-bottom: 0px;
}

/*footer section start  */

.main_footer {
  margin-top: 50px;
  width: 950px;
  height: 380px;
  background: black;
  position: relative;
  left: 12%;
}

.foot_continner {
  display: flex;
  justify-content: space-around;
  /* margin-top: 60px; */
}

.foot_left {
  color: white;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  width: 270px;
  margin-top: 45px;
}

.foot_num {
  color: white;
  font-size: 17px;
  margin-bottom: 0px;
  font-weight: 500;
}

.child2 {
  margin-left: 65px;
  margin-top: 20px;
}

.child2 a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  margin-bottom: 0px;
  font-weight: 500;
  font-family: Inter;
}

.hori_line {
  width: 730px;
  margin-bottom: 0px;
}

.contact_list {
  display: flex;
  justify-content: center;
}

.contact_list > ul {
  display: flex;
  gap: 20px;
}

.contact_list > ul > li {
  font-size: 1.1rem;
}

.la_fo {
  /* margin-right: 0px;
  */

  position: relative;
  bottom: 20px;
  left: 20px;
  transform: translate(20%, +20%);
}

.foot_final {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.foot_la_left {
  margin-left: 107px;
  margin-top: 30px;
}

/* Best Gift section and portfoli  */

.gift_continner {
  margin-top: 50px;
  width: 950px;
  position: relative;
  left: 12%;
  background-color: tan;
}

.gift_head {
  color: red;
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 0px;
}

.gift_title {
  color: black;
  font-size: 32px;
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 15px;
  margin-bottom: 0px;
}
.gift_des {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  width: 70%;
  margin-bottom: 0px;
}

/* image section */

.flex-continer {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.primary_img {
  border-radius: 1px;
  width: 300px;
  height: 300px;
}

.flex-continer img:hover {
  border-radius: 16px;
  background: url("../image/Rectangle 5.png"),
    lightgray 0px -35.755px / 100% 142.115% no-repeat;
  box-shadow: 30px -20px 20px blue;
  margin-bottom: 0px;
}


/*Coming soon section start  */
.coming_continner {
  margin-top: 50px;
  width: 950px;
  height: 380px;
  background-color: tan;

  background-image: url('../image/Ellipse 1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:290px 290px;

display: flex;
align-items: center;

position: relative; 
left: 12%;
}


.coming_des {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  width: 320px;
}

.circle{
  border: 8px solid red;
  width: 69%;
  height: 83%;

  /* width: 390px;
  height: 330px; */
  border-radius: 100%;
}


.coming_year{
  color: #F00;
font-size: 48px;
font-weight: 700;
margin-bottom: 0px;
}

.coming_right_des{
margin-top: 10px;
}

.coming_right{
position: relative;
bottom: 25px;
left: 40px;
margin-bottom: 0px;
}


/* holidays section  */

.holyday_continar{
  margin-top: 50px;
  width: 950px;
  height: 890px;
  background-color: tan;
  background-image: url('../image/Rectangle 2.png'), url('../image/Rectangle 1.png');
  background-repeat: no-repeat;
  background-position: bottom, center right;
  display: block;
position: relative;
left: 12%;
}

.holi_head{
  text-align: center;
}

.hoil_para{
  color:black;
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 0px;
}

.holi_title{
  color:red;
  /* text-align: center; */
  font-weight: 400;
  font-family: Merriweather;
font-size: 40px;
font-weight: 900;
margin-top: 20px;
  margin-bottom: 0px;

}

.holi_sale{
  color: black;
  font-family: Merriweather;
font-size: 40px;
font-weight: 900;

}
.holi_des{
  color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 17px;
font-weight: 500;
line-height: 32px; 
width: 75%;
margin: 0 auto;
margin-top: 25px;
margin-bottom: 0px;
}

.holy_img_continar{
  display: flex;
align-items: center;
}

.img_left{
  width: 400px;
  height: 450px;
  position: relative;
  bottom: -50px;
  left: 0px;
  transform: translate(-0%);
  margin-top: 120px;

}

.img_right{
  /* margin-top: 30px; */
  width: 180px;
  height: 180px;
  margin-left: 32px;
}